{% extends 'diaryhub/base.html' %}
{% block title %}
Top page
{% endblock %}

{% block header %}
<div class="col-2">
  <p class="text-center"><a href="{% url 'login' %}">login</a></p>
</div>
{% endblock %}

{% block content %}
<div class="row text-center">
  <h1>Descrptipn</h1>
  <p>Text text text text text text text</p>
  <p>Text text text text text text text</p>
  <a href="{% url 'signup' %}"><button type="button">Signup</button></a>
</div>
</div>

<!-- {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <p>You are not logged in.</p>
    <p><a href="{% url 'login' %}">login</a></p>
    {% endif %}

    <hr>
    <p><a href="{% url 'priv' %}">priv</a></p>
    <p><a href="{% url 'pub' %}">pubulic</a></p> -->
{% endblock %}